*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Conteneurs "principaux" */

body {
  font-family: Helvetica;
}

.container {
  overflow-x: hidden;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; /* forcément scroller selon y */
}

.v-slider-bloc {
  color: black;
  font-size: 30px;
/*  display: flex;
  justify-content: center;*/
  align-items: center;
  border-bottom: 5px solid black;
  height: 100%;
  scroll-snap-align: center; /* repositionne au centre du bloc*/
}

/* Menu : (dans le .v-slider-bloc:nth-child(1)) */

#banner_header {
  display: flex;
  justify-content: space-around;
  padding-top: 2.5%;
}

.logo_S, .titre, .logo_P {
  display: block;
  text-align: center;
  width: 30%;
}

.titre {
  font-size: 125%;
  font-style: bold;
}

#banner_1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.intro {
  align-self: center;
  margin-left: 10px;
}

.menu {
  align-self: center;
  margin-right: 10px;
}

.menu ul {
  display: inline-block;
  }

.menu ul li {
  text-align: center;
  list-style-type: none; /*pas de puces*/
  /*line-height: 50px; écart entre les lignes verticales*/
  padding: 20px; /*pour espacer les lignes entre elles*/
}

.menu ul li a {
  color: black;
  /*text-decoration: none; pas de soulignage sur le cliquable*/
}

.menu ul li a:hover {
  color: black;
  background-color: #D3B79A;
}

/* Enfants du Slider : pour mettre un background changeant sur chacun*/

/*.v-slider-bloc:nth-child(1){background-image: url('../01_Images/fond_home_leger_1.png');}
.v-slider-bloc:nth-child(2){background-image: url('../01_Images/fond_home_leger_2.png');}
.v-slider-bloc:nth-child(3){background-image: url('../01_Images/fond_home_leger_3.png');}
.v-slider-bloc:nth-child(4){background-image: url('../01_Images/fond_home_leger_4.png');}*/

.viz-container{
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 0 100px;
}

.img-quebec {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%
  }

.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: whitesmoke;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    opacity: 0.8;
  }

.img-quebec:hover .overlay {
    width: 100%;
    left: 0;
}
#quebec-cluster {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}
.title {
    white-space: nowrap; 
    color: black;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top:10%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 1;
    justify-content: space-between;
  }
.title-nord {
    white-space: nowrap; 
    color: #6da167;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top:30%;
    left:75%;
    text-align: right;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 1
  }

.title-sud {
    white-space: nowrap; 
    color: #f2926b;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top:70%;
    left:77%;
    text-align: right;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 1
  }

.title-centre {
    white-space: nowrap; 
    color: #7d60d0;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top:30%;
    left:15%;
    text-align: left;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 1
  }

.title-montreal {
    white-space: nowrap; 
    color: #c13888;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top:70%;
    left:10%;
    text-align: left;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 1
  }

.viz-container:hover{
    fill: black ;
    fill-opacity: 1;
}

h1 {
    font-family: 'Times', 'serif';
    font-size: 56px;
    margin: 0;
    font-weight: normal;
}
